In [206]:
import pandas as pd
import numpy as np
import os

In [193]:
data = pd.read_csv('dataset/ecommerce_dataset.csv')

In [194]:
data

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [195]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 879.8+ KB

Handling nulls

In [196]:
#replace nulls with mean values and remove white spaces
mean_tenure = data['Tenure'].mean()
data['Tenure'].fillna(mean_tenure, inplace = True)

mean_warehouse_to_home = data['WarehouseToHome'].mean()
data['WarehouseToHome'].fillna(mean_warehouse_to_home, inplace = True)

mean_hours_on_app = data['HourSpendOnApp'].mean()
data['HourSpendOnApp'].fillna(mean_hours_on_app, inplace = True)

mean_hikes_from_last_year = data['OrderAmountHikeFromlastYear'].mean()
data['OrderAmountHikeFromlastYear'].fillna(mean_hikes_from_last_year, inplace = True)

mean_coupon_used = data['CouponUsed'].mean()
data['CouponUsed'].fillna(mean_coupon_used, inplace = True)

mean_order_count = data['OrderCount'].mean()
data['OrderCount'].fillna(mean_order_count, inplace = True)

mean_days_since_last_order = data['DaySinceLastOrder'].mean()
data['DaySinceLastOrder'].fillna(mean_days_since_last_order, inplace = True)

#checking if there are white spaces
whitespace_check = data.apply(lambda x: x.astype(str).str.isspace().any())
whitespace_check

CustomerID                     False
Churn                          False
Tenure                         False
PreferredLoginDevice           False
CityTier                       False
WarehouseToHome                False
PreferredPaymentMode           False
Gender                         False
HourSpendOnApp                 False
NumberOfDeviceRegistered       False
PreferedOrderCat               False
SatisfactionScore              False
MaritalStatus                  False
NumberOfAddress                False
Complain                       False
OrderAmountHikeFromlastYear    False
CouponUsed                     False
OrderCount                     False
DaySinceLastOrder              False
CashbackAmount                 False
dtype: bool

Checking consistency and accuracy

In [197]:
#Checking if all strings are correct and meaningful
print(data['PreferredLoginDevice'].unique())
print(data['PreferredPaymentMode'].unique())
print(data['Gender'].unique())
print(data['PreferedOrderCat'].unique())
print(data['MaritalStatus'].unique())

['Mobile Phone' 'Phone' 'Computer']
['Debit Card' 'UPI' 'CC' 'Cash on Delivery' 'E wallet' 'COD' 'Credit Card']
['Female' 'Male']
['Laptop & Accessory' 'Mobile' 'Mobile Phone' 'Others' 'Fashion' 'Grocery']
['Single' 'Divorced' 'Married']

In [199]:
#In prefered login device Mobile Phone is same as Phone
for index, items in enumerate(data['PreferredLoginDevice']): 
    if items == 'Phone': 
        data['PreferredLoginDevice'][index] = items.replace(items, 'Mobile Phone')
        
#in preferred payment modes, CC is same as credit card and COD & Cash on Delivery is same as Cash On Delivery.
for index, items in enumerate(data['PreferredPaymentMode']): 
    if items == 'CC': 
        data['PreferredPaymentMode'][index] = items.replace(items, 'Credit Card')
        
    elif items == 'COD' or items == 'Cash on Delivery': 
        data['PreferredPaymentMode'][index] = items.replace(items, 'Cash On Delivery')
        
    elif items == 'UPI':
        data['PreferredPaymentMode'][index] = items.replace(items, 'Unified Payment Interface')
        
#In prefered order cat Mobile is same as Mobile Phone
for index, items in enumerate(data['PreferedOrderCat']): 
    if items == 'Mobile': 
        data['PreferedOrderCat'][index] = items.replace(items, 'Mobile Phone')

In [200]:
#Checking fixes
print(data['PreferredLoginDevice'].unique())
print(data['PreferredPaymentMode'].unique())
print(data['Gender'].unique())
print(data['PreferedOrderCat'].unique())
print(data['MaritalStatus'].unique())

['Mobile Phone' 'Computer']
['Debit Card' 'Unified Payment Interface' 'Credit Card' 'Cash On Delivery'
 'E wallet']
['Female' 'Male']
['Laptop & Accessory' 'Mobile Phone' 'Others' 'Fashion' 'Grocery']
['Single' 'Divorced' 'Married']

Detecting Outliers

In [201]:
data.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000
mean,52815.500000,0.168384,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.221492
std,1625.385339,0.374240,8.354164,0.915389,8.339095,0.705384,1.023999,1.380194,2.583586,0.451408,3.587926,1.851038,2.871521,3.553382,49.193869
min,50001.000000,0.000000,0.000000,1.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,3.000000,1.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,146.000000
50%,52815.500000,0.000000,9.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,4.000000,163.000000
75%,54222.750000,0.000000,15.000000,3.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.008004,7.000000,196.000000
max,55630.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,325.000000

In [202]:
#I'll use z-score (threshold = 3) to find outliers
numeric_cols = data.select_dtypes(include= ['float64', 'int64']).columns

#function to detect outliers 
def detect_outliers_zscore(data, threshold = 3): 
    outliers = pd.DataFrame()
    for col in numeric_cols: 
        z_scores = np.abs((data[col] - data[col].mean())/ data[col].std())
        outliers[col] = data[col][z_scores > threshold]
    return outliers

#detecting outliers
outliers = detect_outliers_zscore(data)

In [203]:
outliers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 928 to 5534
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   0 non-null      float64
 1   Churn                        0 non-null      float64
 2   Tenure                       4 non-null      float64
 3   CityTier                     0 non-null      float64
 4   WarehouseToHome              0 non-null      float64
 5   HourSpendOnApp               0 non-null      float64
 6   NumberOfDeviceRegistered     0 non-null      float64
 7   SatisfactionScore            0 non-null      float64
 8   NumberOfAddress              0 non-null      float64
 9   Complain                     0 non-null      float64
 10  OrderAmountHikeFromlastYear  0 non-null      float64
 11  CouponUsed                   0 non-null      float64
 12  OrderCount                   0 non-null      float64
 13  DaySinceLastOrder            0 non-null      float64
 14  CashbackAmount               0 non-null      float64
dtypes: float64(15)
memory usage: 512.0 bytes

There are 4 outliers in 'Tenure column'- a column that shows how long a customer has been with the business.Considering that the e-commerce business is likely to have loyal customers for a longer time compared to others; this is a genuine outlier. I decide to keep them since they might provide valuable insights

Dropping Irrelevant Data

In [204]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5630 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5630 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5630 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5630 non-null   float64
 16  CouponUsed                   5630 non-null   float64
 17  OrderCount                   5630 non-null   float64
 18  DaySinceLastOrder            5630 non-null   float64
 19  CashbackAmount               5630 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 879.8+ KB

In [205]:
data

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.000000,Mobile Phone,3,6.0,Debit Card,Female,3.000000,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.000000,160
1,50002,1,10.189899,Mobile Phone,1,8.0,Unified Payment Interface,Male,3.000000,4,Mobile Phone,3,Single,7,1,15.0,0.0,1.0,0.000000,121
2,50003,1,10.189899,Mobile Phone,1,30.0,Debit Card,Male,2.000000,4,Mobile Phone,3,Single,6,1,14.0,0.0,1.0,3.000000,120
3,50004,1,0.000000,Mobile Phone,3,15.0,Debit Card,Male,2.000000,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.000000,134
4,50005,1,0.000000,Mobile Phone,1,12.0,Credit Card,Male,2.931535,3,Mobile Phone,5,Single,3,0,11.0,1.0,1.0,3.000000,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.000000,Computer,1,30.0,Credit Card,Male,3.000000,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.000000,151
5626,55627,0,13.000000,Mobile Phone,1,13.0,Credit Card,Male,3.000000,5,Fashion,5,Married,6,0,16.0,1.0,2.0,4.543491,225
5627,55628,0,1.000000,Mobile Phone,1,11.0,Debit Card,Male,3.000000,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.000000,186
5628,55629,0,23.000000,Computer,3,9.0,Credit Card,Male,4.000000,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.000000,179
5629,55630,0,8.000000,Mobile Phone,1,15.0,Credit Card,Male,3.000000,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.000000,169

In [209]:
#saving a new clead dataset 
folder = ('/Users/admin/Documents/Projects/Churn Preds/Customer-Churning-Prediction/dataset')
data.to_csv(f'{folder}/e_commerce_data.csv', index=False)